*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #B58E57;
    position: relative;
}
.app{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.text__girl,.text__boy{
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
}
.meme{
    width: 100%;
}
.submit:active{
    transform: translateY(0.2rem);
}
.hidden{
    display: none;
}
.center{
    text-align: center;
}
